.review-list {
  display: flex;
  justify-content: center;
}
.review-list:last-child {
  margin-right: -15px;
}
.review-item {
  margin-right: 15px;
}
.review-icon {
  width: 50px;
  height: 50px;
  fill: rgb(20, 20, 20);
  cursor: pointer;
}
