.facility-about__section {
  padding: 82px 0;
}
.facility-about__title {
  text-align: center;
  font-size: 60px;
  letter-spacing: 0.05em;
  color: #14274a;
}
.facility-about__subtitle {
  text-align: center;
  font-family: Montserrat;
  margin-top: 34px;
  color: #14274a;
}
