.main-btn {
  display: flex;
  width: 276px;
  height: 68px;
  color: #ffffff;
  background: #e0b973;
  border-radius: 15px;
  align-items: center;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.2;
  .hero & {
    margin: 108px auto 80px;
  }
}
.main-btn-icon {
  margin: 20px;
  width: 40px;
  height: 40px;
  fill: #ffffff;
}
.hero-icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}
