.contact-page__section {
  padding: 190px 0;
  background-color: rgba(20, 39, 74, 1);
}
.contact-hero__title {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 80px;
  line-height: 1.2;
  color: #ffffff;
  text-align: center;
}
