.contact-about {
  padding: 260px 0 167px 0;
}
.contact-about__title {
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  color: #14274a;
}
.contact-about__subtitle {
  font-size: 30px;
  line-height: 1.2;
  color: #14274a;
}
