.about-us {
  padding: 83px;
  .about {
    display: flex;
  }
}

.about-title {
  font-family: Montserrat;
  margin-bottom: 68px;
  font-size: 36px;
  line-height: 1.22;
  text-align: center;

  color: #14274a;
}
