.about-left__title::before {
  display: block;
  content: '';
  width: 100px;
  height: 1px;
  background-color: #000000;
}
.about-left__title {
  margin-bottom: 68px;
  .title {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #14274a;
  }
}
.about-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 263px;
  height: 63px;
  align-items: center;
  border-radius: 10px;
  background-color: #e0b973;

  font-family: Montserrat;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.05em;

  color: #ffffff;
}
