.about-rooms__section {
  padding: 81px 0;
}
.about-rooms__title {
  text-align: center;
  font-size: 60px;
  letter-spacing: 0.05em;
  color: #14274a;
}
.about-rooms__subtitle {
  text-align: center;
  font-family: Montserrat;
  margin-top: 34px;
  color: #14274a;
}
