.container__title {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.2;
  color: #ffffff;
}
.footer-form {
  display: flex;
  margin-top: 29px;
  //   border-color: rgba(224, 185, 115, 1);
  //
}
.footer-form__input {
  background-color: transparent;
  color: rgb(224, 185, 115);
  border: 1px solid;
  border-radius: 4px 0 0 4px;
  width: 280px;
  height: 52px;
  padding: 15px 26px;

  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.2;
}
.footer-submit-btn {
  background-color: rgba(224, 185, 115, 1);
  width: 80px;
  height: 52px;
  border-radius: 0 4px 4px 0;

  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}
