.footer-social__item {
  margin-bottom: 16px;
}
.footer-social__link {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.9;
  color: #f7f7f7;
}
.footer-social__icon {
  width: 19px;
  height: 19px;
  fill: #f7f7f7;
  margin-right: 20px;
}
