.logo-footer {
  font-family: Adobe;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.2;
  letter-spacing: 0.15em;
  color: #ffffff;
}
.logo-footer__subtitle {
  font-family: Adobe;
  font-weight: 700;
  font-size: 9px;
  line-height: 1.22;
  letter-spacing: 0.6em;
  color: #ffffff;
}
// выровнять логотип
.footer-nav__logo-list {
  margin-top: 22px;
}
.footer-nav__logo-link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;
}
